<div

  class="container shadow-sm pt-4 pl-4 pr-4 mb-5 bg-white rounded"
>
<form>

  <div class="form-group form-inline">
    Búsqueda:
    <input class="form-control ml-2" type="text" name="searchTerm"
    />
    <span class="ml-3"> Loading... </span
    >
  </div>

  <div class="col-sm-4">
    <button type="button" class="btn btn-success btn-green"
      [routerLink]="['/usuarios/registrar-usuarios']"
    > Registrar usuarios nuevos </button>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Identificacion</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Departamento</th>
          <th scope="col">Facultad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>January</td>
          <td>$100</td>
          <td>January</td>
          <td>$100</td>
          <td>January</td>
          <td>$100</td>

        </tr>

        <tr>
          <td>February</td>
          <td>$80</td>
        </tr>

        <tr>
          <td>February</td>
          <td>$80</td>
        </tr>

      </tbody>



    </table>
